<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>M-Know </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>M-Know Malaria App (know about malaria), is a handy informative tool set packaged in a mobile application for different platforms to help fight against malaria. </p>
          <p> This App is designed to provide assistance and support to inhabitants living in malaria endemic regions  and to people traveling to and from malaria endemic zones across the world.</p>
          <p> M-Know Malaria App would be a free service to all especially to population at risk of malaria..</p>
        </ion-card-content>
      </ion-card>
      <ion-list lines="none">
     
      </ion-list>
  </ion-content>