<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Malaria Symptoms
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding >
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let s of Symptoms">
            <p>{{s.Symptom_Name}}</p> 
            <ion-col size="6"> <p> {{s.Symptom_Description}}</p></ion-col>
            <p> {{s.Sign_Name}}</p> 
            <ion-col size="6"> <p> {{s.Sign_Description}}</p></ion-col>
          </ion-item>
        </ion-list>
      </ion-content>
     
     </ion-content>