@model IEnumerable<MalariaBackend.Models.About_Malaria>

@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/PortView/css/style.css" rel='stylesheet' type='text/css' />

    <link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
</head>
<br /><br /><br /><br />
<p>
    @Html.ActionLink("Add", "Create")
</p>
<table class="table">
    <tr>
        <th style="font-size:20px">
            <b>Malaria Description</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Malaria_Description,"")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.About_Malaria_ID }) |
                
                @Html.ActionLink("Delete", "Delete", new { id = item.About_Malaria_ID })
            </td>
        </tr>
    }

</table>
